body{
font-family:Arial;
background:#f4f4f4;
text-align:center;
}

header{
background:#003366;
color:white;
padding:15px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
padding:80px;
}

.btn{
background:#0077cc;
color:white;
padding:10px 20px;
text-decoration:none;
}

form{
background:white;
width:300px;
margin:auto;
padding:20px;
box-shadow:0 0 10px gray;
}

input{
width:90%;
padding:8px;
margin:5px;
}